GustaveShop/src/main/webapp/wsdl/Shop.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://shop.serviceweb.rest.uge.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://shop.serviceweb.rest.uge.fr" xmlns:intf="http://shop.serviceweb.rest.uge.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://shop.serviceweb.rest.uge.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="isAvailable">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="isAvailableResponse">
    <complexType>
     <sequence>
      <element name="isAvailableReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getComments">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCommentsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getCommentsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setPriceFromId">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
      <element name="price" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setPriceFromIdResponse">
    <complexType>
     <sequence>
      <element name="setPriceFromIdReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNotes">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNotesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getNotesReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sellBike">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="sellBikeResponse">
    <complexType>
     <sequence>
      <element name="sellBikeReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getNotesResponse">

      <wsdl:part element="impl:getNotesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNotesRequest">

      <wsdl:part element="impl:getNotes" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isAvailableResponse">

      <wsdl:part element="impl:isAvailableResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setPriceFromIdResponse">

      <wsdl:part element="impl:setPriceFromIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCommentsResponse">

      <wsdl:part element="impl:getCommentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCommentsRequest">

      <wsdl:part element="impl:getComments" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sellBikeResponse">

      <wsdl:part element="impl:sellBikeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isAvailableRequest">

      <wsdl:part element="impl:isAvailable" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sellBikeRequest">

      <wsdl:part element="impl:sellBike" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setPriceFromIdRequest">

      <wsdl:part element="impl:setPriceFromId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Shop">

      <wsdl:operation name="isAvailable">

         <wsdl:input message="impl:isAvailableRequest" name="isAvailableRequest">

       </wsdl:input>

         <wsdl:output message="impl:isAvailableResponse" name="isAvailableResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getComments">

         <wsdl:input message="impl:getCommentsRequest" name="getCommentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCommentsResponse" name="getCommentsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setPriceFromId">

         <wsdl:input message="impl:setPriceFromIdRequest" name="setPriceFromIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:setPriceFromIdResponse" name="setPriceFromIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNotes">

         <wsdl:input message="impl:getNotesRequest" name="getNotesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNotesResponse" name="getNotesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sellBike">

         <wsdl:input message="impl:sellBikeRequest" name="sellBikeRequest">

       </wsdl:input>

         <wsdl:output message="impl:sellBikeResponse" name="sellBikeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ShopSoapBinding" type="impl:Shop">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isAvailable">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isAvailableRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isAvailableResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getComments">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCommentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCommentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setPriceFromId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setPriceFromIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setPriceFromIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNotes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNotesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNotesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sellBike">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sellBikeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sellBikeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ShopService">

      <wsdl:port binding="impl:ShopSoapBinding" name="Shop">

         <wsdlsoap:address location="http://localhost:8080/GustaveShop/services/Shop"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
