GustaveShopServer/src/main/webapp/wsdl/Shop.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://shop.serviceweb.rest.uge.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://shop.serviceweb.rest.uge.fr" xmlns:intf="http://shop.serviceweb.rest.uge.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://shop.serviceweb.rest.uge.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getComments">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCommentsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getCommentsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sellBike">
    <complexType>
     <sequence>
      <element name="bikeId" type="xsd:long"/>
      <element name="userId" type="xsd:long"/>
      <element name="isoMoney" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sellBikeResponse">
    <complexType>
     <sequence>
      <element name="sellBikeReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="idExist">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="idExistResponse">
    <complexType>
     <sequence>
      <element name="idExistReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNotes">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNotesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getNotesReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addBasket">
    <complexType>
     <sequence>
      <element name="bikeId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="addBasketResponse">
    <complexType/>
   </element>
   <element name="removeBasket">
    <complexType>
     <sequence>
      <element name="bikeId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeBasketResponse">
    <complexType/>
   </element>
   <element name="buyBasket">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:long"/>
      <element name="isoMoney" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buyBasketResponse">
    <complexType/>
   </element>
   <element name="canSell">
    <complexType>
     <sequence>
      <element name="bikeId" type="xsd:long"/>
      <element name="userId" type="xsd:long"/>
      <element name="isoMoney" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="canSellResponse">
    <complexType>
     <sequence>
      <element name="canSellReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="setPriceFromId">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
      <element name="price" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="setPriceFromIdResponse">
    <complexType>
     <sequence>
      <element name="setPriceFromIdReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getNotesResponse">

      <wsdl:part element="impl:getNotesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setPriceFromIdResponse">

      <wsdl:part element="impl:setPriceFromIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sellBikeResponse">

      <wsdl:part element="impl:sellBikeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addBasketRequest">

      <wsdl:part element="impl:addBasket" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addBasketResponse">

      <wsdl:part element="impl:addBasketResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="idExistRequest">

      <wsdl:part element="impl:idExist" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeBasketRequest">

      <wsdl:part element="impl:removeBasket" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNotesRequest">

      <wsdl:part element="impl:getNotes" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCommentsResponse">

      <wsdl:part element="impl:getCommentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buyBasketResponse">

      <wsdl:part element="impl:buyBasketResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCommentsRequest">

      <wsdl:part element="impl:getComments" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="canSellRequest">

      <wsdl:part element="impl:canSell" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sellBikeRequest">

      <wsdl:part element="impl:sellBike" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="idExistResponse">

      <wsdl:part element="impl:idExistResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeBasketResponse">

      <wsdl:part element="impl:removeBasketResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buyBasketRequest">

      <wsdl:part element="impl:buyBasket" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="canSellResponse">

      <wsdl:part element="impl:canSellResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setPriceFromIdRequest">

      <wsdl:part element="impl:setPriceFromId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Shop">

      <wsdl:operation name="getComments">

         <wsdl:input message="impl:getCommentsRequest" name="getCommentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCommentsResponse" name="getCommentsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sellBike">

         <wsdl:input message="impl:sellBikeRequest" name="sellBikeRequest">

       </wsdl:input>

         <wsdl:output message="impl:sellBikeResponse" name="sellBikeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="idExist">

         <wsdl:input message="impl:idExistRequest" name="idExistRequest">

       </wsdl:input>

         <wsdl:output message="impl:idExistResponse" name="idExistResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNotes">

         <wsdl:input message="impl:getNotesRequest" name="getNotesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNotesResponse" name="getNotesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addBasket">

         <wsdl:input message="impl:addBasketRequest" name="addBasketRequest">

       </wsdl:input>

         <wsdl:output message="impl:addBasketResponse" name="addBasketResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeBasket">

         <wsdl:input message="impl:removeBasketRequest" name="removeBasketRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeBasketResponse" name="removeBasketResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buyBasket">

         <wsdl:input message="impl:buyBasketRequest" name="buyBasketRequest">

       </wsdl:input>

         <wsdl:output message="impl:buyBasketResponse" name="buyBasketResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="canSell">

         <wsdl:input message="impl:canSellRequest" name="canSellRequest">

       </wsdl:input>

         <wsdl:output message="impl:canSellResponse" name="canSellResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setPriceFromId">

         <wsdl:input message="impl:setPriceFromIdRequest" name="setPriceFromIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:setPriceFromIdResponse" name="setPriceFromIdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ShopSoapBinding" type="impl:Shop">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getComments">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCommentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCommentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sellBike">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sellBikeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sellBikeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="idExist">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="idExistRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="idExistResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNotes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNotesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNotesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addBasket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addBasketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addBasketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeBasket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeBasketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeBasketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buyBasket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buyBasketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buyBasketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="canSell">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="canSellRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="canSellResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setPriceFromId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setPriceFromIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setPriceFromIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ShopService">

      <wsdl:port binding="impl:ShopSoapBinding" name="Shop">

         <wsdlsoap:address location="http://localhost:8081/GustaveShopServer/services/Shop"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
